<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Flask App{% endblock %}</title>
</head>
<body>
  <nav>
    <a href="{{ url_for('main.index') }}">Главная</a>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('main.dashboard') }}">Личный кабинет</a>
      <a href="{{ url_for('main.check_page') }}">Проверка</a>
      <a href="{{ url_for('main.logout') }}">Выйти</a>
    {% else %}
      <a href="{{ url_for('main.login') }}">Войти</a>
      <a href="{{ url_for('main.register') }}">Регистрация</a>
    {% endif %}
  </nav>
  <hr>

  {% block content %}{% endblock %}
</body>
</html>
