{% extends "base.html" %}
{% block title %}Проверка текста{% endblock %}
{% block content %}
<h1>Проверка текста</h1>
<form method="POST">
  <label>Введите текст:</label><br>
  <textarea name="text" rows="5" cols="50"></textarea><br><br>
  <button type="submit">Проверить</button>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p style="color:red;">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}
