{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<h1>Регистрация</h1>
<form method="POST">
  <label>Имя пользователя:</label>
  <input type="text" name="username" required><br>

  <label>Email:</label>
  <input type="email" name="email" required><br>

  <label>Пароль:</label>
  <input type="password" name="password" required><br>

  <button type="submit">Зарегистрироваться</button>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p style="color:red;">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}
